doctype html
html
  head
    title Create a cat
  body
    h1 Create a Cat
    p Cat Name
    form(name="createCat", method="post" action="/cats/new")
        input(type="text", placeholder="Name", name="name")
        p Cat Color  
        input(type="text", placeholder="Color", name="color")
        br
        input(type="submit", value="Submit")
